/.idea/
/.phpunit.cache/
/.php-cs-fixer.cache
/.vscode/
/build/
/coverage/
/vendor/
/bedriox.settings
/bedriox.settings.legacy-*
/server.properties
composer.phar
*.log
/logs/
/cache/
/crashes/
/plugins/
/plugin_data/
/player_data/
/permissions.json
/whitelist.json
/bans.json
/worlds/
/bin/*
!/bin/bedriox
/.runtime-stage-*/
/.runtime-backup-*/
