/.idea/
/.phpunit.cache/
/.php-cs-fixer.cache
/.vscode/
/build/
/coverage/
/vendor/
/bedriox.settings
composer.phar
*.log
/logs/
/crashes/
/plugins/
/plugin_data/
/worlds/
/bin/*
!/bin/bedriox
/.runtime-stage-*/
/.runtime-backup-*/
